<h4>Edit Member</h4>

<div>
  <label>Name</label>
  <input [(ngModel)]="selectedMember.name">
</div>
<div>
  <label>Email</label>
  <input [(ngModel)]="selectedMember.email">
</div>
<div>
  <label>Phone</label>
  <input [(ngModel)]="selectedMember.phone">
</div>
<div>
  <label>Address</label>
  <input [(ngModel)]="selectedMember.address">
</div>
<div>
  <label>Bio</label>
  <input [(ngModel)]="selectedMember.name">
</div>

<button (click)="beginUpdatingMember(selectedMember)">Update</button>
<hr>
<button (click)="beginDeletingMember(selectedMember)">Delete</button>