.member {
  border:1px solid #ddd;
  border-radius: 5px;
  padding:10px;
  margin-bottom:30px;
}

.member-filter h2 {display: inline-block;}

.member h2 {margin:0;padding:0;cursor: pointer;}
.member h2:hover, .member h3:hover {color:#adf;}
.member h2 span {font-size:.8em;}
.member h3 {margin:10px 0;padding:0;cursor: pointer;}

.member a {color:#333;}
.member a:visited {color:#333;}
.member a:hover {color:#adf;text-decoration: none;}

.task h1, .task h2, .task h3 {margin:0;padding:0;}
.task {border: dotted red 1px;padding:10px;border-radius: 5px;margin-bottom:30px;}