<h1>Dashboard</h1>

<div>
 <select (change)="onChange($event.target.value)">
   <option value='allmembers' selected="selected">All Members</option>
   <option value='managers'>Managers</option>
   <option value='employees'>Employees</option>
 </select>
</div>
<div class="col-md-6 col-sm-6" *ngFor="let member of members | async | memberpipe:filterByRole ">
  <div class="member" (click)="goToDetailPage(member)">
    <h2>{{member.name}}</h2>
    <h2>{{member.email}}</h2>
    <h2>{{member.phone}}</h2>
  </div>
  <div *ngIf="currentRoute === '/admin'">
    <hr>
    <app-edit-member [selectedMember]="member"></app-edit-member>
  </div>
</div>