/* You can add global styles to this file, and also import other style files */

nav {clear:both;height:100px;background-color: rgba(0,40,150,.6);color:#fff;}
#nav-logo {float:left;}
#nav-links {float:right;color:#fff;}
#nav-links a {color:#fff;display: inline-block;}
#nav-links ul {display: inline-block;margin-top:40px;margin-right:20px;}
#nav-links ul li {display: inline-block;vertical-align: middle;}
#nav-hamburger {display:none;}